/* Cascade StyleSheets */

body{
  font-family: "Verdana";
}

/* Class selector */
.container{
  display: flex;
  border: 10px solid mistyrose;
  height: 100vh;
  flex-wrap: wrap;
}

.box{
  color: #fff;
  font-size: 100px;
  text-align: center;
  padding: 10px;
  flex: 1 1 200px;  
}

.box1{
  background-color: #3455FF; 
}

.box2{
  background-color: #281FFF;
}

.box3{
  background-color: #8547FF; 
}

.box4{
  background-color: #A353FF; 
}

.box5{
  background-color: #E850FF; 
}

.box6{
  background-color: #FF39D4; 
}

.box7{
  background-color: #FF267F; 
}

.box8{
  background-color: #FF255E; 
}

.box9{
  background-color: #FF3A1C; 
}

.box10{
  background-color: #FF9010; 
}

.box11{
  background-color: #FFDF1A; 
}
